
aiohttp
openai
https://github.com/New-dev0/Telethon/archive/diamond.zip
python-decouple
pymongo
httpx
python-dotenv
pytgcalls==3.0.0.dev24
covid
fonttools
gtts
jikanpy
git+https://github.com/New-dev0/AsyncLyricsExtractor.git
phlogo
pokedex.py
pyfiglet
pygments
pymediainfo
pyjokes
quotefancy
shazamio
speechrecognition
speedtest-cli
textblob
wikipedia
spotdl
py-Ayra==2.0.1
akinator
apscheduler
beautifulsoup4
colour
enhancer>=0.3.4
git+https://github.com/buddhhu/img2html.git@c44170d#egg=img2html
heroku3
gitpython
google-api-python-client
htmlwebshot
lottie
numpy>=1.21.2
oauth2client
opencv-python-headless==4.5.5.62
pillow>=7.0.0
profanitydetector
psutil
pypdf2>=1.26.0
pytz
qrcode
requests
tabulate
wget
telegraph
tgcrypto
youtube-search-python
yt-dlp
covid
emoji
fonttools
gtts
jikanpy
phlogo
pokedex.py
pyfiglet
pygments
pyjokes
quotefancy
shazamio
speechrecognition
speedtest-cli
textblob
wikipedia
pyscopg2
redis
hiredis
asyncio
pyUltroid
