# Important Requirements here.

https://github.com/New-dev0/Telethon/archive/diamond.zip
python-decouple
python-dotenv
pytgcalls==3.0.0.dev22
covid
emoji
fonttools
gtts
gingerit
jikanpy
git+https://github.com/New-dev0/AsyncLyricsExtractor.git
phlogo
pokedex.py
pyfiglet
pygments
pyjokes
quotefancy
shazamio
speechrecognition
speedtest-cli
textblob
wikipedia
spotdl
pyUltroid
